﻿@model ToolKit.Models.User.UserInfo
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Account/_LayoutLogin.cshtml";
}

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#FE5900">
    <div class="container">
        <div class="collapse navbar-collapse">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding:5px">
                    <img width="40" height="40" alt="" src="~/Images/itau.png" />
                </a>
            </div>
        <ul class="nav navbar-nav" style="padding-left:400px; padding-top:8px">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="qual fluxo você procura?" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-top:15px">
                <div class="btn-group ex" data-toggle="buttons" style="vertical-align:middle">
                    <label>@Model.Name</label>
                    <select>
                        @foreach (var item in Model.Busines)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }
                    </select>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="col-md=4 text-center" style="padding-top:300px">
        <div class="btn btn-success" type="submit" style="margin-right:100px; width:200px">Consultar</div>

        <div class="btn btn-success" type="submit" style="width:200px">Criar fluxo</div>
</div>





