﻿body {
    padding-top: 90px;
}

.panel-login {
    border-color: #FFFFFF;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
        }

            .panel-login > .panel-heading a.active {
                color: #029f5b;
                font-size: 18px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
    }

    .panel-login input:hover, .panel-login input:focus {
        outline: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

    .btn-login:hover, .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

.forgot-password {
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        color: #666;
    }

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    border-color: #1CB94A;
}

    .btn-register:hover {
        background-image: url(~/Images/Login/user.png);
    }

    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
        position: absolute;
    }
