﻿@model ToolKit.Models.User.LoginObj
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/_LayoutLogin.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/login.css">

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-login" style="border:1px solid black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <a>Faça o login com o seu ID do Itaú</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="~/Account/Verify" method="post" id="login-form" style="display: block;">
                                    <div class="col-sm-3" ; height: 100px;">
                                        <img src="~/Images/Login/user.png" class="img-circle" style="border:1px solid black;" alt="Usuario" width=100 height=100>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="workId" id="workId" class="form-control" placeholder="Funcional">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Senha">
                                    </div>
                                    <div class="form-group" style="padding-top:10px;">
                                        <div class="row">
                                            <div class="col">
                                                <div class="col-sm-3" ; style="margin-left:135px; margin-top:15px;">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Lembrar</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="col-sm-5 col-sm-offset-6" style="margin-left:0px; padding-bottom:50px; padding-right:75px">
                                                    <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Entrar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-7 col-sm-offset-3" style="padding-bottom:10px;">
                                                <input type="button" name="create-account" id="create-account" class="form-control btn btn-register" value="Solicitar criação de conta">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-7 col-sm-offset-3">
                                                <input type="button" name="login-submit" id="login-submit" class="form-control btn btn-register" value="Não lembro minha senha">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

